services:
  mysql:
    image: mysql:latest
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d
      - ./mysql-config/mysql.cnf:/etc/mysql/conf.d/custom.cnf

  phpmyadmin:
    build:
      context: .
      dockerfile: pma.Dockerfile
    container_name: phpmyadmin-container
    depends_on:
      - mysql
    ports:
      - "80:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      PMA_THEME: boodark-orange
    volumes:
      - ./theme-pma/boodark-orange:/var/www/html/themes/boodark-orange
      - ./pma-config/apache.conf:/etc/apache2/conf-available/servername.conf
      - ./pma-config/config.user.inc.php:/var/www/html/config.user.inc.php

volumes:
  mysql_data:
